.underline {
    text-decoration: underline;
}

.jumbotron-2 {
    text-align: center;
    background-color: white;
}

.invisible {
    display: none;
}

.list-style {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 10px;
    border: 2px solid black;
    font-size: 18px;
    
}

button.btn-style {
    margin: 5px;
    text-align: left !important;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    padding: 10px;
}